<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gopher.system.dao.mysql.StoreMapper">

<!-- 
	<select id="getStoreMessages"
		resultType="com.gopher.system.model.entity.TMessageStore">
	
		 SELECT PK_ID  AS PKID,MESSAGE_BODY AS MESSAGEBODY,CREATE_TIME AS CREATETIME
		FROM T_MESSAGE_STORE  where status=0
		
		
	</select>
	
	
	
		<select id="getCategoryMessages"
		resultType="com.gopher.system.model.entity.TMessageStore">
	
		 SELECT pk_id  pkId,MESSAGE_BODY MESSAGEBODY,CREATE_TIME CREATETIME
		FROM T_MESSAGE_CATEGORY 
		
	</select>
	
	
	<insert id="insert" 	parameterType="com.gopher.system.util.StoreJson">
	
       <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select replace(uuid(),'-','') from dual
       </selectKey>
		INSERT INTO cp_in_site
		(id,name,url,create_time)
		VALUES
		(#{id},#{name},#{url_name},now())
	</insert> 
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM T_MESSAGE_STORE WHERE pk_id =
		#{id}
	</delete>
	
	
	<update id="updateStoreMessageStatus" parameterType="String">
		UPDATE T_MESSAGE_STORE
		set status=1
	   WHERE PK_ID=#{id}

	</update> -->
</mapper>